<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.dvpaylitedeeplink">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DvPayLiteDeepLink"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".cart.ui.PeripheralActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".cart.ui.OptionSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".cart.ui.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".cart.ui.TipAndFeeActivity"
            android:exported="false" />
        <activity
            android:name=".JsonPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".cart.ui.CartActivity"
            android:exported="true"
            android:theme="@style/Theme.DvPayLiteDeepLink">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".UsbReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.app.dvpaylitedeeplink.USB_PERMISSION" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>